<footer class="w-full">
  <div class="p-8 md:p-4">
    <!-- <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" /> -->
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© <%= new Date().getFullYear() %>
    <a target="_blank" href="https://github.com/Murtaza34/echoNotes" class="hover:underline">EchoNotes</a>. All
    Rights Reserved.</span
    >
  </div>
</footer>
</body>

</html>
